NEXT_PUBLIC_SUPABASE_URL=https://iyhdzfxakqmxfvcajauv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CnMSe2AVo-Z0rfmbffFf0g_b96ElesA
SUPABASE_SERVICE_ROLE_KEY=replace_me
NEXT_PUBLIC_APP_NAME=HostelHub PMS